* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.main .title {
  color: #343434;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.4px;
  margin-bottom: 2em;
}

@media (max-width: 700px) {
  .main .title {
    width: 100%;
    text-align: center;
  }
}

.main form {
  width: 100%;
}

.main form .form-control {
  width: 100%;
  position: relative;
  margin-bottom: 1.7em;
}

.main form .form-control input {
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  color: #343434;
}

.main form .form-control input ~ i {
  position: absolute;
  left: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #888;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

.main form .form-control input:focus ~ i {
  color: #6d3701;
}

.main form .form-control input ~ .focused-border {
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  background-color: #6d3701;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.main form .form-control input:focus ~ .focused-border {
  width: 100%;
}

.main form button.btn {
  background-color: #6d3701;
  color: #FFF;
  padding: 1em 3em;
  margin: 2em auto 4em;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: background 0.4s ease-in-out;
  transition: background 0.4s ease-in-out;
}

.main form button.btn:hover {
  background-color: #5e2f01;
}

@media (max-width: 700px) {
  .main form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.main .register a {
  display: inline-block;
  margin-left: 0.5em;
  color: #6d3701;
  font-weight: 700;
}

.side {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.3))), url("../img/cupcake.jpg") center;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url("../img/cupcake.jpg") center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side p {
  position: relative;
  color: #FFF;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.4em;
  font-size: 1.7rem;
}

.side .main-msg {
  text-transform: uppercase;
  font-size: 3.3rem;
  font-weight: 700;
  max-width: 550px;
  margin-bottom: 3em;
}

@media (max-width: 980px) {
  .side .main-msg {
    font-size: 2.7em;
  }
}

@media (max-width: 700px) {
  .side {
    display: none;
  }
}

body {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 65% 1fr;
      grid-template-columns: 65% 1fr;
}

@media (max-width: 980px) {
  body {
    -ms-grid-columns: 60% 1fr;
        grid-template-columns: 60% 1fr;
  }
}

@media (max-width: 800px) {
  body {
    -ms-grid-columns: 55% 1fr;
        grid-template-columns: 55% 1fr;
  }
}

@media (max-width: 700px) {
  body {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

section {
  padding: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 980px) {
  section {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}

input, button {
  border: none;
  outline: none;
  font-size: 1.1em;
  letter-spacing: 0.5px;
  padding: 1em 2.5em;
}

a {
  text-decoration: none;
}
